 
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight:400px   ;
  font-style: normal;
}
.banner{
    text-align: center;
    flex-direction: column;
    justify-content: center;
     
    padding: 0;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
    
}
.support-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    width: 100%;
   
  
}
.support-content{
    background-image: url(../assets/handshake.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    padding:40px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1140px;
    height: 385px;
}
.support-section h1 {
    color:white;
    margin-bottom: 90px;
}
.support-section P{
    color:white;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.support-content input[type="text"] {
    padding:19px 20px;
    border: 1px solid #ccc;
    border-radius:8px;
    font-size: 16px;
    margin-right: 20px;
    width: 550px;
    height:57px ;
    color: rgba(13, 19, 33, 0.4);
    font-weight: 16px;
    
}
.support-content button {
    padding: 19px 20px;
    border: none;
    border-radius: 8px;
    color: rgba(13, 19, 33, 1);
   background-color:  rgba(255, 255, 255, 1)
   
    font-size: 16px;
    cursor: pointer;
}
 
.banner-descripton{
    color: rgba(13, 19, 33, 1);
     margin-top: 32px;
}
.btn-primary{
    background-color: rgba(13, 19, 33, 1);
    color: rgba(255, 255, 255, 1);
     width: 244px;
     height: 65px;
     border-radius:8px;
    font-weight: bold;
    margin-bottom: 45px;

}
.class{
     text-align: center;
     padding: 80px;

}
.section-class1{
     display: flex;
      gap:15px;
      justify-content:center;
      
       
}
.title-1{
    text-align: left;
  
}
.section-class-2{
    display: flex;
    justify-content: space-around;
    gap: 30px;
     

}
.section-class-3{
      justify-content: center;
      align-items: center;
     display: flex;
     gap: 55px;
      
}
.sec-class {
   
    padding: 10px 72px;
    justify-content: center;
    align-items: center;


  
    
   

}
.div-class{
     justify-content: center;
}


.image-1{
     gap:38px;
}
 
    
     
 .button{
    text-align:center;
    width: 171px;
    height: 47px;
    font-weight: 600;
    border-radius: 0%;
    font-size: 20px;
color: rgba(13, 19, 33, 1);



 }  
 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    width: 100%;
    text-align: center;
 }
 .container-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 20px; 
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
 }
 .text-center{
    text-align: center;
 }

 .inspirtion{
    color: rgba(13, 19, 33, 1);
    font-weight: bolder;
     
 }
 .video{
   border-radius: 16px;
    width: 1076px  ;
    height: 550px;

 }

  .target-container{
    display: flex;
     justify-content: center;
     gap: 40px;
     
     margin-top: 100px;
     padding-bottom: 40px;
 
  }  
  .targets{
    padding:40px ;
    gap:48px ;
  

  }
  .target-1{
    
    height: 160px;
    width: 250px;
    border-radius: 16px;
    padding: 40px 40px;
    
   background-color: rgba(255, 76, 30, 0.05)
   
  }
  .target-2{
    height: 160px;
    width: 250px;
    border-radius: 16px;
    padding: 40px 40px;
    background-color: rgba(0, 76, 232, 0.05);
  }
  .target-3{
    height: 160px;
    width: 250px;
    border-radius: 16px;
    padding: 40px 40px;
    background-color: rgba(255, 223, 0, 0.05);
  }
  .main{
    margin-top: 130px;
    margin-bottom: 130px;
  }
  .link-1{
     padding-bottom: 60px;
     margin-bottom: 40px;
  }
  .myfooter{
    display: flex;
    justify-content: space-between;
    padding: 32px 150px ;
  }
 