 
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight:400px   ;
  font-style: normal;
}
.banner{
    text-align: center;
    flex-direction: column;
    justify-content: center;
     
    padding: 0;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
    
}
.banner-descripton{
    color: rgba(13, 19, 33, 1);
    margin: 32px;
}
.btn-primary{
    background-color: rgba(13, 19, 33, 1);
    color: rgba(255, 255, 255, 1);
     width: 244px;
     height: 65px;
     border-radius:8px;
    font-weight: bold;
    margin-bottom: 45px;

}